.public {
    background-color: #1b1b1b;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    padding: 50px;
    color: white;
}

.mainContainer {
    margin-top: 20px;
}

.mainText {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 400px;
    text-align: left;
}

.address {
    display: flex;
    flex-direction: column;

}

.link {
    color: rgb(101, 206, 74);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 400px;
    text-align: left;
}